<header id="top-header">
  <span class="sitName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>

  <div id="tools">
    <% if (loggedin) { %>
      <span>Welcome, <a href="/account/management"><%= accountData.account_firstname %></a></span>
      <a href="/account/logout" title="Click to logout">Logout</a>
    <% } else { %>
      <a href="/account/login" title="Click to log in">My Account</a>
    <% } %>
  </div>
</header>
