
<section class="hero">
  <h2>Welcome to CSE Motors</h2>
  <img src="/images/vehicles/batmobile.jpg" alt="batmobile motor" >
  <div class="hero-text">
    <h1>Drive Into the Future with batmobiles</h1>
    <%- messages() %>
    <p>Performance. Style. Reliability.</p>
    <a href="#" class="cta-button">Get One Today</a>
  </div>
</section>

<section class="upgrades">
  <h2>batmobile Upgrade</h2>
  <div class="upgrade-items">
    <div class="upgrade">
      <img src="/images/upgrades/flame.jpg" alt="batmobile Performance is fire">
      <h3>Performance Tires</h3>
    </div>
    <div class="upgrade">
      <img src="/images/upgrades/hub-cap.jpg" alt="batmobile Alloy Rim">
      <h3>Alloy Rims</h3>
    </div>
    <div class="upgrade">
      <img src="/images/upgrades/flux-cap.png" alt="Audio System">
      <h3>Premium Audio</h3>
    </div>
  </div>
</section>

<section class="reviews">
  <h2>What Our Customers Say</h2>
  <div class="review">
    <p>"The SUV I bought is super smooth and reliable. CSE Motors nailed it!"</p>
    <p>- Alex B.</p>
  </div>
  <div class="review">
    <p>"Great customer service and top-notch upgrades. Love my ride!"</p>
    <p>- Dana R.</p>
  </div>
</section>
